.wd-posts {
  border: 1px solid lightgrey;
}

.wd-tuit-container {
  padding-left: 16px;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid lightgrey;
}

.wd-profile-pic-rounded {
  border-radius: 48px;
  height: 48px;
  width: 48px;
}

.wd-tuit-content-container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  width: 90%;
  margin-bottom: 12px;
}

.wd-tuiter-user-handle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wd-tuiter-user-handle {
  width: 88%;
}

.wd-tuiter-user-handle > h4,
h3 {
  display: inline;
}

.wd-tuiter-username {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.wd-tuiter-handle {
  color: rgb(89, 101, 114);
  font-size: 15px;
}

.wd-more-options {
  width: 10.8%;
}

.wd-tuit-tuit {
  text-align: justify;
  text-justify: inter-word;
  margin: 0px;
  max-width: 506px;
  padding-right: 16px;
  padding-bottom: 12px;
}

.wd-tuit-preview-container {
  border: 1px solid lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.wd-tuit-preview-content-title {
  margin: auto;
  padding: 12px;
  font-size: 15px;
}

.wd-tuit-preview-content-content {
  padding: 0px 12px 12px 12px;
  margin: auto;
  color: rgb(47, 51, 54);
}

.wd-tuit-buttons-container {
  padding: 12px 60px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wd-tuit-buttons {
  display: flex;
  flex-direction: row;
}

a:link {
  text-decoration: none;
}

.wd-icons {
  color: rgb(89, 101, 114);
}

.wd-padding-12 {
  padding-left: 12px;
  display: inline;
}

.wd-light-gray {
  color: rgb(89, 101, 114);
}

.wd-is-hidden {
  display: none;
}

.wd-tuiter-blue {
  color: rgb(29, 161, 242);
}