.wd-search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 7px;
  border-radius: 20px;
  width: 82%;
  margin-left: 8px;
  border: 1px solid lightgray;
  margin-bottom: 2px;
}
.wd-search-bar-text-input {
  color: black;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.wd-magnifying-glass-icon {
  padding-left: 15px;
  width: 9% !important;
}

.wd-settings-cog {
  font-size: 25px;
  color: #1da1f2;
  padding: 1px;
}