.wd-border-gray{
    color: #6e767d;
}

.wd-img-round {
    border-radius: 20%;
}

.wd-more-options-cog{
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.wd-ellipsis-small{
    font-size: small;
}

.wd-follow-btn-lite {
    position: absolute;
    right: 10px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

.wd-text{
    position: relative;
    width: auto;
    z-index: 2;
}

.wd-text-color-gray {
    color: gray;
}

.wd-top-bottom-10px{
    bottom: 10px;
    left: 10px;
}

.nav-link .ac{
    border-bottom: solid 2px blue !important;
}

.wd-settings-cog {
    font-size: 25px;
    color: #1DA1F2;
    padding: 1px;
}