.wd-tuit-container{
    padding-left: 16px;
    padding-top: 12px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom:  1px solid rgb(47, 51, 54); ;
}

.wd-profile-picture{
    border-radius: 48px;
    height: 48px;
    width: 48px;
}

.wd-tuit-content-container{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 90%;
}

.wd-tuit-justify-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-width-88pct{
    width: 88%;
}

.wd-width-88pct > h4, h3{
    display: inline;
}

.wd-user-name{
    color:white;
    font-size: 15px;
}

.wd-tuiter-handle{
color: gray;
font-size: 15px;
}

.wd-timestamp{
color:gray;
}

.wd-tuit-more-options{
    width: 10.8%;
}

.wd-tuit-tuit{
    color: white;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
    max-width: 506px;
    padding-right: 16px;
    padding-bottom: 4px;
}

.wd-tuit-preview-container{
    border: 1px solid rgb(47, 51, 54);
    border-radius: 10px;
    width: 100%;

}

.wd-tuit-preview-image > img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.wd-tuit-preview-title{
    margin:auto;
    padding: 12px;
    font-size: 15px;
}

.wd-tuit-preview-content{
    padding: 0px 12px 12px 12px;
    margin:auto;
    color:rgb(47, 51, 54) ;
}

.wd-tuit-buttons-container{
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wd-post-info{
    margin: auto;
    display: flex;
    flex-direction: row;
}

a:link{
    text-decoration: none;
}

.wd-numbers{
    padding-left: 12px;
}

.wd-lightgray{
    color: lightgray;
}

.wd-red{
    color:red;
}

.wd-tuiter-signature-blue {
    color: rgb(29,161,242);
}